<div class="container-sm text-center w-75">
    <H3> Vykstantys mokymai </H3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Kurso kategorija</th>
            <th scope="col">Kurso aprašymas</th>
            <th scope="col">Mokytojas</th>
            <th scope="col">Kaina</th>
            <th scope="col">Teorijos kurso pradžia</th>
            <th scope="col">Teorijos kurso pabaiga</th>
            <th scope="col">Praktikos kurso pradžia</th>
            <th scope="col">Praktikos kurso pabaiga</th>
            <th scope="col">Egzamino data</th>


        </tr>
        </thead>
        {% for course in courses %}
            <tbody>
            <tr>
                <td class="text-center small mb-1">{{ course.course_category }} </td>
                <td class="text-center small mb-1">{{ course.course_description }}</td>


            </tr>

            </tbody>

        {% endfor %}
    </table>

</div>