{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Mokymu programa</title>
    <link href='{% static "css/styles.css" %}' rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.css' rel='stylesheet'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/locales-all.js'></script>
    <script>
        function show_form(el, form_id, change_color = true) {
            var contentsToHide = document.querySelectorAll('[data-content]');
            for (var i = 0; i < contentsToHide.length; i++) {
                contentsToHide[i].setAttribute('hidden', 'True')
            }
            if (change_color === true) {
                var contentsToGrey = document.querySelectorAll('[data-links]');
                for (var k = 0; k < contentsToGrey.length; k++) {
                    contentsToGrey[k].style.color = "grey";
                }
                el.style.color = "white";
            }
            document.getElementById(form_id).removeAttribute('hidden')
        }
    </script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand"> Sveiki atvykę: {{ auth_user.first_name }}  </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button>
    <!-- Navbar-->
    <ul class="navbar-nav d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" onclick="show_form(this,'settings', change_color=false)">Settings</a>
                <!--<a class="dropdown-item" href="#">Activity Log</a>-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout/">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading"></div>
                    <a data-links href="#dashboard" class="nav-link"
                        onclick="show_form(this,'dashboard')">
                        <div class="sb-nav-link-icon"> <i class="fas fa-tachometer-alt"></i> Dashboard
                        </div>
                    </a>
                    <div class="sb-sidenav-menu-heading">Pagrindinis meniu</div>

                    {% if "provider_company" in plain_roles %}
                        <a class="nav-link collapsed" id="mokymai" href="#" data-toggle="collapse"
                           data-target="#collapseMokymai"
                           aria-expanded="false" aria-controls="collapseMokymai">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Mokymai
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseMokymai" aria-labelledby="headingOne"
                             data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-me nu-nested nav">
                                <a data-links href="#new_course" class="nav-link"
                                   onclick="show_form(this,'new_course', true)">Mokymai/Temos</a>
                                <a data-links href="#antrasLangas" class="nav-link"
                                   onclick="show_form(this,'antrasLangas', true);render_calendar('calandar_mokymai')">Tvarkaraštis</a>
                                <a data-links href="#instructor" class="nav-link"
                                   onclick="show_form(this,'instructor', true)">Dėstytojai</a>
                                <a class="nav-link" href="layout-static.html">Studentai</a>
                                <a class="nav-link" href="layout-static.html">Ataskaita</a>
                            </nav>
                        </div>
                    {% endif %}
                    {% if "student" in plain_roles %}
                        <a class="nav-link collapsed" id="studentas" href="#" data-toggle="collapse"
                           data-target="#collapseStudentas"
                           aria-expanded="false" aria-controls="collapseStudentas">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Studentas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseStudentas" aria-labelledby="headingTwo"
                             data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a data-links href="#antrasLangas" class="nav-link"
                                   onclick="show_form(this,'antrasLangas', true);render_calendar('calandar_mokymai')">Tvarkaraštis</a>
                                <a class="nav-link" href="layout-static.html">Pažymėjimas/Atestatai</a>
                                <a class="nav-link" href="layout-static.html">Ataskaita</a>
                            </nav>
                        </div>
                    {% endif %}

                    {% if "instructor" in plain_roles %}
                        <a class="nav-link collapsed" id="destytojas" href="#" data-toggle="collapse"
                           data-target="#collapseDestytojas"
                           aria-expanded="false" aria-controls="collapseDestytojas">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Destytojas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseDestytojas" aria-labelledby="headingTwo"
                             data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a data-links href="#antrasLangas" class="nav-link"
                                   onclick="show_form(this,'antrasLangas', true);render_calendar('calandar_mokymai')">Tvarkaraštis</a>
                                <a data-links href="#grupes" class="nav-link"
                                   onclick="show_form(this,'grupes')">Grupės</a>
                                <a class="nav-link" href="layout-static.html">Užduotys</a>
                                <a class="nav-link" href="layout-static.html">Ataskaita</a>
                            </nav>
                        </div>
                    {% endif %}
                    {% if "client_company" in plain_roles %}
                        <a class="nav-link collapsed" id="klientas" href="#" data-toggle="collapse"
                           data-target="#collapseKlientas"
                           aria-expanded="false" aria-controls="collapseKlientas">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Klientas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                    {% endif %}

                    <div class="collapse" id="collapseKlientas" aria-labelledby="headingTwo"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a data-links href="#antrasLangas" class="nav-link"
                                   onclick="show_form(this,'antrasLangas', true);render_calendar('calandar_mokymai')">Tvarkaraštis</a>
                            <a data-links href="#instructor" class="nav-link"
                                   onclick="show_form(this,'instructor', true)">Dėstytojai</a>
                            <a class="nav-link" href="layout-static.html">Pažymėjimai/Atestatai</a>
                            <a class="nav-link" href="layout-static.html">Ataskaita</a>
                        </nav>
                    </div>
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {% for role in core_roles %}
                    <div class="small">{{ role.role_type }}</div>
                {% endfor %}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <div data-content id="settings" hidden>
            {% include "settings.html" with core_roles=core_roles plain_roles=plain_roles %}
        </div>
        <div data-content id="new_course" hidden>
            {% include "course.html" %}
        </div>
        <div data-content id="instructor" hidden>
            {% include "instructor.html" %}
        </div>
        <div data-content id="dashboard">
        <div data-content id="dashboard">
            {% include "dashboard.html" %}
        </div>
    </div>
</div>
<div id="main_content_area">
    <div data-content id="antrasLangas" hidden>
        <div class="container">
            <div id='calandar_mokymai'></div>
        </div>

    </div>
</div>
<div id="main_content_area">
    <div data-content id="treciasLangas" hidden>
        {#                <div id='calendar'></div>#}
    </div>
</div>
    <div data-content id="antrasLangas" hidden>
        <div class="container">
            <div id='calandar_mokymai'></div>
        </div>

    </div>
    <div data-content id="treciasLangas" hidden>
        {#                <div id='calendar'></div>#}
    </div>
    <div data-content id="grupes" hidden>
        {% include "grupes.html" %}
    </div>
</div>

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2020</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../static/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../static/assets/demo/chart-area-demo.js"></script>
<script src="../static/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="../static/assets/demo/datatables-demo.js"></script>
<script>
    function render_calendar(calander_id) {
        var calendarEl = document.getElementById(calander_id);
        var calendar = new FullCalendar.Calendar(calendarEl, {
            aspectRatio: 2,
            selectable: true,
            editable: true,
            locale: 'lt',

            headerToolbar: {
                left: 'prev,next,today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },

        });
        calendar.render();
    }
</script>

</body>
</html>
