<link href="../static/css/styles.css" rel="stylesheet"/>

<p></p>
<div class="container-sm text-center w-75">
    <H2> Studentai </H2>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Vardas</th>
            <th scope="col">Pavarde</th>
            <th scope="col">Mail</th>
            <th scope="col">Registracijos data</th>

        </tr>
        </thead>
        {% for user in studentu_sarasas %}
            <tbody>
            <tr>
                <td class="text-center">{{ user.first_name }}</td>
                <td class="text-center">{{ user.last_name }}</td>
                <td class="text-center">{{ user.email }}</td>
                <td class="text-center">{{ user.date_joined }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>